/* nejsme vcerejsi, pouzivame moderni box model */
*, ::after, ::before { box-sizing: border-box; }

/*
 BARVY
 pozadi           #f5f5f5
 dekorace nadpisů #629edb
*/

body {
    background-color: black; /*SEM SI SEM DALA TEN OKRAJ & SEKCI MAIN, AT JE TO HEZKY VIDET*/
}

main {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
    max-width: 500px; /*MAX SIRKA PRO MOBIL*/
    margin: auto; /*VYCENTROVANI*/
}

/*Mobilní verze - šířka do 500px
==============================
- všechno je pod sebou v jedné úzké nudli
- v menu jsou položky pod sebou, menu samotné je nad obsahem
- v galerii jsou všechny obrázky pod sebou
- popisky k obrázkům jsou vždy pod obrázkem (k těm v textu i k těm v galerii)*/

main {
    font-size: 14px; /*to se mi zda vzhledove nejak vic odpovida*/
}



/* HLAVICKA */
/*MOBIL*/

.header {
    background-image: url(images/island-hlavicka.jpg); 
    background-size: cover; /*pozadi obrazek pres cely*/
    color: white;
    text-align: center; /*text na stred*/
    max-height: 350px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.titulek {
    font-family: 'Raleway', serif;
    font-size: 50px;
    position: relative;
    top: -2rem;
}

.perex {
    position: relative;
    top: -3rem;
}

.borderka {
    border-top: 2px solid #c4c3c3; /*ja vim, ze jsem to timhle elementem ocurala a neni to idealni, ale kdyz byla border u objektu autora, tak jsem zaboha neprisla na to, jak udelat kratsi tu carku... vim, ze si to zase komplikuju:D ale vypada to, jak ma, se pocita:)))*/
    max-width: 5rem;

    position: relative;
    top: -2rem;
    left: 11.5rem;
}

.autor {
    font-style: italic;
    color: #c4c3c3;

    margin-top: 1rem;
    position: relative;
    top: -2rem;
}

/* MENU */
/*MOBIL*/

.menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    list-style-type: none; /*li bez kolecek*/
    padding: 2rem; /*at jsou li borders hezky od kraje*/
}

.menu a {
    color: #c4c3c3;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.menu li {
    border-bottom: 0.5px dotted #c4c3c360; /*borders mezi polozkami menu*/
}




/* OBSAH */
/*MOBIL*/

.obsah {
    display: flex; /*to delam kvuli obrazkum, co cestuji*/
    flex-direction: column;
}
.obsah p {
    /*text-align: justify; /*to je hezci v bloku, pardon, ja jsem na to ujeta*/
    padding: 0rem 1rem;
}

.obsah img {
    flex-wrap: wrap; /*obrazek mezi textem v obsahu nikam nepotece*/
}

.obsah .popisek {
    color: grey;
    font-size: 11px;
    text-align: center;
    font-family: sans-serif;
}

.obsah .popisek a {
    color: grey;
}

h2 {
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 1rem;
}
.modraborderka { 
    border-top: 4px solid #629edb;
    max-width: 15%;
    margin-bottom: 1rem;
}

/* FOTOGALERIE */
.galerie {
    display: flex;
    flex-direction: column;
}

.galerie .foto img {
    position: relative;
    left: -2.5rem; /*ja vim, ze to neni ideal, ale ja uz fakt nevim, tak ucel sveti prostredky...*/
}

.foto img {
    justify-content:left; /*kdyby nahodou, ne ze by to nekam vytejkalo*/
    width: 500px; /*jak lepe dam, aby to vychazelo na celou sirku?*/
}

.galerie .popisek {
    color: grey;
    font-weight: 600;
    font-size: 14px;
}

.galerie .popisek-copy {
    font-weight: 400;
    font-size: 11px;
}
.galerie .popisek a {
    color: grey;
    
}


/* PATICKA */
/*MOBIL*/
footer {
    display: none;
}